---
---
<!doctype html>
<html lang="en">
  ...


<!-- <!doctype html>
<html lang="en"> -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>The Archive</title>
    <link rel="icon" type="image/png" href="favicon.png" />
    <!-- Bootstap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/archive.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&amp;display=swap"
      rel="stylesheet"
    />
    <!-- Scripts -->
    <script
      src="https://kit.fontawesome.com/56b8f9907c.js"
      crossorigin="anonymous"
    ></script>
    <script src="date.js" defer></script>
    <!-- Meta properties -->
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <meta name="googlebot" content="noindex,nofollow,noarchive" />
    <meta name="bingbot" content="noindex,nofollow,noarchive" />
  </head>
  <body>
    <main role="main" class="container">
      <div class="row text-center">
        <div class="col">
          <h1>The Archive</h1>
          <hr />
          <header class="site-header">
            <nav class="site-nav">
              <a href="#politics">Politics</a>
              ·
              <a href="#sports">Sports</a>
              ·
              <a href="#trans">Trans</a>
              ·
              <a href="#culture">Culture</a>
              .
              <a href="#wiki">Wikipedia</a>
              .
              <a href="#tech">Technology</a>
            </nav>
          </header>
          <p class="lead">Articles that have enchanted me over the years.</p>
          <p class="text-justify">
            Some are weird, some are funny, some make no sense, some are
            terrifying, some are sad, and some are uplifting. Maybe. Those will
            probably come later.
          </p>
          <p class="text-danger text-justify">
            I'm a weird chick, but I'll try to put a warning on anything like
            transphobia, slurs, violence, etc. Promise. You'll see a warning
            with details like this:
            <span
              class="content-warning"
              title="Content warning: transphobia, slurs, violence, discrimination, etcc."
              >⚠</span
            >
          </p>
          <p class="text-center">
            <b>Last Updated</b>: <span id="last-updated"></span>
          </p>
          <hr />


        {% include politics.html %}
        <hr />
        {% include sports.html %}
        <hr />
        {% include trans.html %}
        <hr />
        {% include culture.html %}
        <hr />
        {% include wiki.html %}
        <hr />
        {% include tech.html %}
        <hr />
          <p class="text-center">
            <small
              >&copy; Abby Jane 2025<br />
              <a
                href="#privacyModal"
                data-toggle="modal"
                data-target="#privacyModal"
                >privacy policy</a
              ></small
            >
          </p>
        </div>
      </div>
      <div
        class="modal fade"
        id="privacyModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                privacy policy.
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>I do not want your data.</p>
              <p>I am not a fae trickster.</p>
              <p>What are you a cop?</p>
              <p>
                If you're a cop you have to tell me otherwise it's entrapment.
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
